<template>
  <div class="page-header">
		<router-link to="/">Home</router-link>
		<router-link to="/about">About</router-link>
		<router-link to="/contacts">Contacts</router-link>
	</div>
</template>

<script>
export default {
	name: 'Header',
}
</script>

<style scoped lang="stylus">
.page-header {
  flex: 0 0 auto;
  background-color: #dcdcdc;
	display: flex;
	height: 50px;
	justify-content: center;
}
</style>
