<template>
  <div id="carousel">
		<h1>{{ msg }}</h1>
		<carousel :navigationEnabled="false" :perPageCustom="[[320, 1], [1199, 3]]">
			<slide class="slide">
				<img src="@/assets/bird1.jpg">
			</slide>
			<slide class="slide">
				<img src="@/assets/bird2.jpg">
			</slide>
			<slide class="slide">
				<img src="@/assets/bird3.jpg">
			</slide>
			<slide class="slide">
				<img src="@/assets/bird4.jpg">
			</slide>
			<slide class="slide">
				<img src="@/assets/bird5.jpg">
			</slide>
			<slide class="slide">
				<img src="@/assets/bird6.jpg">
			</slide>
		</carousel>
  </div>
</template>

<script>

import { Carousel, Slide } from 'vue-carousel';

export default {
	name: 'HelloWorld',
	components: {
		Carousel,
    Slide
	},
  props: {
    msg: String
  }
}
</script>

<style scoped lang="stylus">
#carousel img {
	width:50%
}
</style>
