<template>
  <div id="app">
		<topmenu></topmenu>
		<div class="page-content">
			<router-view></router-view>
		</div>
  </div>
</template>

<script>
import topmenu from '@/components/header.vue'

export default {
	name: 'app',
	components: {
		topmenu
	}
}
</script>

<style lang="stylus">
fonts = 'Avenir', Helvetica, Arial, sans-serif;
color = black;

#app {
	height: 100%;
  font-family: fonts;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: color;
  margin-top: 0px;
	display: flex;
  flex-direction: column;
	height: 100%;
}
a {
	padding:15px 25px
}
.page-content {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}
</style>
